[submodule "src/instrumentation_measurement/openethereum"]
	path = src/instrumentation_measurement/openethereum
	url = ../openethereum.git
[submodule "src/instrumentation_measurement/evmone"]
	path = src/instrumentation_measurement/evmone
	url = ../evmone.git
